<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<form action="/result" method="post">
		<div>
			<label for="name">ISBNコード</label>
			<input type="text" id="isbn" name="isbn">
		</div>
		<div>
			<label for="email">書名</label>
			<input type="mail" id="title" name="title">
		</div>
		<div>
			<label for="name">価格</label>
			<input type="text" id="price" name="price">
		</div>
		<div>
			<label for="email">出版社</label>
			<input type="mail" id="publisher" name="publisher">
		</div>
		<div>
			<label for="name">刊行日</label>
			<input type="text" id="published" name="published">
		</div>
		<input type="submit" value="送信する">
	</form>
</body>

</html>